@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}


body {
    /* background-color: aqua; */
    background-image: url("../src/assets/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}